<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-title mode="ios" size="large" color="light">Our Menu</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [value]="current$ | async" scrollable class="position-sticky mx-1">
    <ion-segment-button
      [id]="'segment' + menu._id"
      *ngFor="let menu of menus$ | async; trackBy: trackBy; let i = index;"
      (click)="slides.slideTo(i);"
      [value]="menu._id"
      style="--margin-top: 0"
    >
      <ion-label class="ion-text-uppercase multi-line-label" color="primary">{{ menu.title }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-slides
    #slides
    (ionSlideTouchEnd)="handleSlideChange(slides)"
    (ionSlideWillChange)="handleSlideChange(slides)"
    [options]="{speed: 200, effect: 'flip'}"
  >
    <ion-slide *ngFor="let slide of menus$ | async" class="d-flex justify-content-start align-items-start">
      <ion-grid>
        <ion-row *ngFor="let category of slide?.categories">
          <ion-col size="12">
            <ion-title *ngIf="slide?.categories.length > 1" class="ion-text-capitalize">{{category.title}}</ion-title>
            <ion-card *ngFor="let item of category.items" [routerLink]="['/menu-item', item._id]">
              <ion-card-header>
                <div class="d-flex justify-content-between">
                  <ion-card-title class="ion-text-start">{{item?.title}}</ion-card-title>
                  <div>
                    <ion-badge color="primary" mode="ios">{{ item?.price | currency:'USD' }}</ion-badge>
                  </div>
                </div>
                <ion-card-subtitle class="ion-text-start">{{item?.description}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
