<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-title mode="ios" size="large" color="light">Our Menu</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [value]="current$ | async" scrollable class="position-sticky">
    <ion-segment-button
      [id]="segment.id"
      *ngFor="let segment of segments; trackBy: trackBy; let i = index;"
      (click)="slides.slideTo(i);"
      [value]="segment.name"
    >
      <ion-label>{{ segment.name }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides #slides (ionSlideWillChange)="handleSlideChange(slides)" [options]="{speed: 150}">
    <ion-slide *ngFor="let slide of segments" class="d-flex justify-content-start align-items-start">
      <ion-list class="w-100 h-100">
        <ion-list-header *ngIf="slide.name.toLowerCase().includes('indian')">
          <ion-label class="d-flex justify-content-start">{{ slide.name }}</ion-label>
          <ion-button (click)="container.hidden = !container.hidden">See All</ion-button>
        </ion-list-header>
        <div #container>
          <ion-item>
            <ion-label>Item 1</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
