/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Bootstrap basic imports */
@import './node_modules/bootstrap/scss/_functions.scss';
@import './node_modules/bootstrap/scss/_variables.scss';
@import './node_modules/bootstrap/scss/_mixins.scss';
@import './node_modules/bootstrap/scss/utilities/_sizing.scss';
@import './node_modules/bootstrap/scss/utilities/_text.scss';
@import './node_modules/bootstrap/scss/utilities/_flex.scss';
@import './node_modules/bootstrap/scss/utilities/_display.scss';
@import './node_modules/bootstrap/scss/utilities/_position.scss';
@import './node_modules/bootstrap/scss/utilities/_spacing.scss';
@import './node_modules/bootstrap/scss/utilities/_float.scss';

.h-0 {
  height: 0;
}

.w-0 {
  width: 0;
}

.ion-background {
  --background: var(--ion-background-color);
  background-color: var(--ion-background-color);
}

.above-fixed {
  z-index: 1040;
}

* {
  outline: none;
}

.ion-button-background-tertiary {
  --button-background: var(--ion-color-tertiary);
}

.ion-button-text-color-danger {
  --button-color: var(--ion-color-danger);

  ion-icon {
    color: var(--button-color) !important;
  }

  & .ion-activated {
    color: var(--button-color) !important;
  }

  &:hover {
    --button-color-hover: var(--button-color);
    color: var(--button-color-hover) !important;
  }

  & .alert-button-inner {
    color: var(--button-color);
  }
}

.ion-button-text-color-light {
  --button-color: var(--ion-color-light);
}

.ion-toast-custom {
  --color: var(--ion-color-light);
  --background: var(--ion-item-background);
}

.cursor-pointer {
  cursor: pointer;
}

.popover-center {
  & .popover-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .popover-content {
    top: auto !important;
    left: auto !important;
  }
}

ion-navbar.toolbar.toolbar-ios.statusbar-padding,
ion-navbar.toolbar-ios ion-title.title-ios,
ion-toolbar.toolbar.toolbar-ios.statusbar-padding,
ion-toolbar.toolbar-ios ion-title.title-ios {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
