<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" sizeMd="1">
          <ion-buttons><ion-back-button defaultHref="/orders"></ion-back-button></ion-buttons>
        </ion-col>
        <ion-col size="10" sizeMd="11">
          <ion-title mode="ios" size="large" color="light">
            Orders Details
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="8" offsetMd="2">
        <lib-order-details>
          <ion-card class="metadata">
            <ion-card-header class="d-flex justify-content-between">
              <ion-card-subtitle class="d-flex flex-column">
                <ion-text class="mb-1" color="primary">John Doe</ion-text>
                <ion-text class="mb-1">{{ 1 | date: 'mediumDate' }}</ion-text>
                <ion-text color="tertiary">{{ 220 | currency: 'USD' }}</ion-text>
              </ion-card-subtitle>
              <div>
                <ion-badge color="secondary" mode="ios">Preparing</ion-badge>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-icon name="call-outline" slot="start"></ion-icon>
                <ion-label>+1 XXX-XXX-XXXX</ion-label>
                <ion-button fill="outline" shape="round" color="success" [href]="'tel:+1'">Call</ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </lib-order-details>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex align-items-center justify-content-between" size="12" sizeSm="6" sizeMd="4" offsetSm="3" offsetMd="4">
        <div>
          <ion-text color="light font-weight-bold">Order status: </ion-text>
          <ion-text color="secondary font-weight-bold">Preparing </ion-text>
        </div>
        <ion-button color="success" fill="outline" size="small" (click)="changeOrderStatus()">Change</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
