<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="align-items-center">
        <ion-col size="2" sizeMd="1">
          <ion-buttons><ion-back-button text="" color="light" defaultHref="/orders"></ion-back-button></ion-buttons>
        </ion-col>
        <ion-col size="10" sizeMd="11">
          <ion-title class="ion-no-padding" mode="md" size="large" color="light"> Orders Details </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="currentOrder$ | async as order">
    <ion-row>
      <ion-col size="12" sizeMd="8" offsetMd="2">
        <lib-order-details
          [orderItems]="order.items"
          [subTotal]="subTotal$ | async"
          [tax]="tax$ |async"
          [tip]=""
          [total]="order.total"
          [TAX_PERCENT]="TAX_PERCENT"
        >
          <ion-card class="metadata">
            <ion-card-header class="d-flex justify-content-between">
              <ion-card-subtitle class="d-flex flex-column">
                <ion-text class="mb-1" color="light">Order id: {{ order?._id | slice: -6 }}</ion-text>
                <ion-text class="mb-1" color="light">{{ order?.userId?.firstname }} {{ order?.userId?.firstname }}</ion-text>
                <ion-text class="mb-1" color="light">{{ order?.createdAt | date: 'mediumDate' }}</ion-text>
                <ion-text color="tertiary" color="light">{{ order?.total | currency: 'USD' }}</ion-text>
              </ion-card-subtitle>
              <div>
                <ion-badge color="light" mode="ios">
                  <ion-text color="dark" class="ion-text-capitalize"> {{ order?.status }} </ion-text>
                </ion-badge>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-item [href]="'tel:+1'">
                <ion-icon name="call-outline" slot="start"></ion-icon>
                <ion-label>{{ order?.userId?.contact }}</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </lib-order-details>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="currentOrder$ | async as order">
    <ion-fab-button color="light" (click)="printOrder(order)">
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="currentOrder$ | async as order">
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex align-items-center justify-content-between" size="12" sizeSm="6" sizeMd="4" offsetSm="3" offsetMd="4">
        <div>
          <ion-text color="light font-weight-bold">Order status: </ion-text>
          <ion-text color="secondary font-weight-bold ion-text-capitalize">{{ order?.status }} </ion-text>
        </div>
        <ion-button
          (click)="changeOrderStatus(order?.status)"
          *ngIf="order?.status !== 'cancelled'"
          color="light"
          fill="outline"
          size="small"
          >Change</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
