<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="align-items-center">
        <ion-col size="2" sizeMd="1">
          <ion-buttons><ion-back-button text="" color="light" defaultHref="/orders"></ion-back-button></ion-buttons>
        </ion-col>
        <ion-col size="10" sizeMd="10">
          <ion-title class="ion-no-padding" mode="md" size="large" color="light">
            Orders History

            <!-- This total will only be shown on large screens -->
            <ion-text color="tertiary" class="d-none d-sm-block float-right">
              <small>Total: {{ (ordersTotal$ | async) || 0 | currency:'USD' }}</small>
            </ion-text>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" class="ion-no-padding">
        <ng-container [formGroup]="form">
          <lib-date-range-picker formControlName="dateRange"></lib-date-range-picker>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeMd="6" *ngFor="let order of orders$ | async">
        <lib-orders-items-list class="d-block ion-padding-bottom ion-margin-bottom" [orderItems]="order.items">
          <ion-list-header style="background-color: var(--ion-item-background)" class="metadata ion-padding">
            <small>
              John Doe <br />
              {{ order.finalisedAt | date:'fullDate' }} <br />
              Order id: {{ order.id }}
            </small>
          </ion-list-header>
        </lib-orders-items-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- This total will only be shown on small screens -->
  <ion-title class="fixed-bottom d-sm-none ion-background">
    <ion-text color="tertiary" class="ion-padding-vertical float-right">Total: {{ (ordersTotal$ | async) || 0 | currency:'USD' }}</ion-text>
  </ion-title>
</ion-content>
