<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-title mode="ios" size="large" color="light">Orders History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeSm="6" sizeMd="4" *ngFor="let order of [1,2,3,4,5,6,7,8,9,10,11,12,13]; let i = index">
        <lib-order-card [order]="order">
          <ion-button *ngTemplate (click)="onClick($event, order)" size="large" expand="block" fill="none">
            <ion-icon color="primary" slot="start" name="reload" expand="block"></ion-icon>
            <ion-text color="primary">Reorder</ion-text>
          </ion-button>
        </lib-order-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
