<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-title mode="ios" size="large" color="light">Orders History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeSm="6" sizeMd="4" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13]; let i = index">
        <ion-card style="max-height: 35vh;" button [routerLink]="['/order']">
          <ion-card-header class="d-flex justify-content-between">
            <ion-card-subtitle class="d-flex flex-column">
              <ion-text>{{1 | date: 'mediumDate'}}</ion-text> <br />
              <ion-text color="tertiary">{{ 220 | currency:'USD' }}</ion-text>
            </ion-card-subtitle>
            <div>
              <ion-badge color="secondary" mode="ios">Preparing</ion-badge>
            </div>
          </ion-card-header>
          <ion-card-content class="d-block h-75">
            <ion-grid class="h-100">
              <ion-row class="h-75">
                <ion-col size="12">
                  <h2>
                    <ng-container *ngFor="let item of [1,2,3,4,5,6]; let last = last">
                      Dish name {{item}}<ng-container *ngIf="!last">, </ng-container>
                    </ng-container>
                  </h2>
                </ion-col>
              </ion-row>
              <ion-row class="h-25">
                <ion-col size="6" push="6">
                  <ion-button fill="outline">
                    <ion-icon slot="start" name="reload" expand="block"></ion-icon>
                    Reorder
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
