// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #2d4739;
  --ion-color-primary-rgb: 45, 71, 57;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #283e32;
  --ion-color-primary-tint: #42594d;

  --ion-color-secondary: #bcb382;
  --ion-color-secondary-rgb: 188, 179, 130;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #a59e72;
  --ion-color-secondary-tint: #c3bb8f;

  --ion-color-tertiary: #e15634;
  --ion-color-tertiary-rgb: 225, 86, 52;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #c64c2e;
  --ion-color-tertiary-tint: #e46748;

  --ion-color-success: #09814a;
  --ion-color-success-rgb: 9, 129, 74;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #087241;
  --ion-color-success-tint: #228e5c;

  --ion-color-warning: #e3b505;
  --ion-color-warning-rgb: 227, 181, 5;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #c89f04;
  --ion-color-warning-tint: #e6bc1e;

  --ion-color-danger: #d82027;
  --ion-color-danger-rgb: 216, 32, 39;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #be1c22;
  --ion-color-danger-tint: #dc363d;

  --ion-color-dark: #231f20;
  --ion-color-dark-rgb: 35, 31, 32;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1f1b1c;
  --ion-color-dark-tint: #393536;

  --ion-color-medium: #2b2d42;
  --ion-color-medium-rgb: 43, 45, 66;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #26283a;
  --ion-color-medium-tint: #404255;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-background-color: var(--ion-color-dark);
  --ion-background-color-rgb: var(--ion-color-dark-rgb);

  --ion-text-color: var(--ion-color-light);
  --ion-text-color-rgb: var(--ion-color-light-rgb);

  --ion-color-step-50: #131313;
  --ion-color-step-100: #202020;
  --ion-color-step-150: #2c2c2c;
  --ion-color-step-200: #393939;
  --ion-color-step-250: #454545;
  --ion-color-step-300: #515151;
  --ion-color-step-350: #5e5e5e;
  --ion-color-step-400: #6a6a6a;
  --ion-color-step-450: #777777;
  --ion-color-step-500: #838383;
  --ion-color-step-550: #8f8f8f;
  --ion-color-step-600: #9c9c9c;
  --ion-color-step-650: #a8a8a8;
  --ion-color-step-700: #b5b5b5;
  --ion-color-step-750: #c1c1c1;
  --ion-color-step-800: #cdcdcd;
  --ion-color-step-850: #dadada;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f3f3f3;

  --ion-toolbar-background: var(--ion-color-dark);

  --ion-item-background: var(--ion-color-step-50);
  --ion-item-background-activated: var(--ion-color-primary);

  --ion-tab-bar-background: var(--ion-color-dark);
}
