<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-title mode="ios" size="large" color="light">Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="8" offsetMd="2">
        <ng-container *ngIf="!(orderItems$ |async)?.length; else showOrderDetails">
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>Cart is empty!</ion-card-title>
              <ion-button expand="block" fill="clear" routerLink="/tabs/menu" size="small">
                <ion-card-subtitle>
                  Select some items from menu
                </ion-card-subtitle>
              </ion-button>
            </ion-card-header>
          </ion-card>
        </ng-container>
        <ng-template #showOrderDetails>
          <lib-order-details
            defaultSegment="pricing"
            [orderItems]="orderItems$ | async"
            [subTotal]="subTotal$ | async"
            [tax]="tax$ | async"
            [tip]="tip$ | async"
            [total]="total$ | async"
            (itemClick)="onItemClick($event.detail.id)"
          ></lib-order-details>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-checkout-form *ngIf="(orderItems$ |async)?.length"></app-checkout-form>
</ion-content>
