<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-buttons><ion-back-button defaultHref="/tabs/orders-history"></ion-back-button></ion-buttons>
        </ion-col>
        <ion-col size="10"><ion-title mode="ios" size="large" color="light">Order Details</ion-title></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <lib-order-details>
    <ion-card class="metadata">
      <ion-card-header class="d-flex justify-content-between">
        <ion-card-subtitle color="light">
          Order id: 145bf <br />
          Date: {{ 1 | date }}
        </ion-card-subtitle>
        <div>
          <ion-badge color="secondary" mode="ios">Preparing</ion-badge>
        </div>
      </ion-card-header>
    </ion-card>
  </lib-order-details>
</ion-content>
