<ion-header>
  <ion-toolbar class="no-safe-area-padding-top">
    <ion-buttons slot="start">
      <ion-back-button text="" color="light" defaultHref="/tabs/menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <ion-icon name="checkmark-circle-outline" style="font-size: 15rem" color="success"></ion-icon>
    <ion-text color="success">
      <h1>Order placed successfully!</h1>
    </ion-text>
  </div>
</ion-content>
